* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;

}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo */
}

::-webkit-scrollbar-thumb {
    background: #742B91; /* Color del thumb (barra) */
    border-radius: 5px; /* Bordes redondeados */
}

::-webkit-scrollbar-thumb:hover {
    background: #5b2172;
}


/* para los mensajes de alerta */
.message {
    position: absolute;
    color: #fff;
    width: 30%;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* border: solid #fff; */
    background-color: #10A37F;
    margin-top: 30px;
    border-radius: 20px;
    transform: translateY(-100px);
    transition: .5s;
    z-index: 100;
    border: solid 3px #000;
}

.message-icon {
    transform: scale(1.2);
}

.message.show {
    height: 50px;
    transform: translateY(0);
}

.login-page {
    height: 100%;
    width: 100%;
    background-image: url(img/login-bg.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in;
}

.login-container {
    height: 70%;
    width: 60%;
    border: solid #fff 2px;
    display: grid;
    grid-template-columns: 55% 45%;
    border-radius: 25px;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.login-img-container {
    /* border: solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 20px 30% 30% 20px;
    z-index: 50;
}

.login-img-container img {
    /* border: solid #Fff; */
    height: 100%;
    width: 100%;
    background-size: cover;
}

/* para el formulario */

.login-form-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.sign-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sign-buttons-container button {
    height: 35px;
    width: 100px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.signIn {
    background: #3B0F30;
    border: none;
    box-shadow: 0 0 10px #fff;
    transform: scale(1);
    transition: .5s;
}

.signIn.active {
    background: rgba(255, 255, 255, .3);
    border: none;
    box-shadow: 0 0 10px #3B0F30;
    transform: scale(.8);
}

.signUp {
    background: rgba(255, 255, 255, .3);
    border: none;
    box-shadow: 0 0 10px #3B0F30;
    transform: scale(.8);
    transition: .5s;
}

.signUp.active {
    background: #3B0F30;
    border: none;
    box-shadow: 0 0 10px #fff;
    transform: scale(1);
}

.login-switch-container {
    position: relative;
    height: 100%;
    width: 100%;
    /* border: solid #fff; */
}

.login-form {
    /* border: solid #fff; */
    position: absolute;
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    transition: 1s ease-in;
    z-index: 10;
    transform: translateX(0);
}

.login-form.active-transition {
    transform: translateX(-100%);
}

.form-title {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-fields {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.input-group {
    position: relative;
    width: 70%;
    height: 40px;
    /* border: solid #fff;  */
}

.input-group input {
    height: 100%;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: solid 2px;
}

.input-group input:focus {
    border-bottom: solid 2px;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -10px;
    left: 5px;
    transform: scale(.9);
    color: #F8C952;
    /* background: rgba(0, 0, 0, .5); */
    /* color: #fff; */
}

.input-group label {
    position: absolute;
    top: 30%;
    left: 10px;
    transition: .5s;
    color: #fff;
    font-weight: 800;
    height: 15px;
}

input::-webkit-autofill {
    background-color: transparent !important;
    box-shadow: 0 0 0px 1000px transparent inset !important;
}

input:-moz-placeholder {
    background-color: transparent;
    /* Fondo transparente */
}

input:-webkit-autofill {
    background-color: transparent !important;
}

.form-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.form-button button {
    width: 50%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    background: #E2453D !important;
    color: #fff;
    font-size: 18px;
    border: none;
    transition: .3s;
    margin-top: 20px;
}

.form-button button:hover {
    border: solid 3px #fff;
}

.form-button button:active {
    transform: scale(.8);
}

/* para el formulario de registro */

.sign-form {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    transition: 1s ease-in;
    transform: translateX(100%);
}

.sign-form.active-transition {
    transform: translateX(0);
}

/* para el admin panel */
.login-page {
    position: absolute;
    z-index: 50;
    /* transform: translateY(-100%); */
    /* display: none; */
}

.admin-panel-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    z-index: 10;
}

.side-bar {
    border: solid #000;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    background: linear-gradient(#E3103C, #4D0167);
}

.logo-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.img-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    height: 80%;
    width: 80%;
}

.logo-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container h2 {
    font-size: 30px;
    text-align: center;
    color: #fff;
}

/* para la parte de los botones */

.admin-buttons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.side-bar-button {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    color: #fff;
    background: transparent;
    border: none;
    padding-left: 15px;
}

.side-bar-button i {
    transform: scale(1.2);
}

.side-bar-button:hover {
    border: solid 3px #fff;

}

.side-bar-button.translucent {
    background: rgba(255, 255, 255, .4);
    border: solid 2px #fff;

}

/* para el panel del vista general */

.panel-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.overview {
    height: 95%;
    width: 95%;
    display: grid;
    grid-template-rows: 30% 10% 60%;
}

/* para la parte de las cartas de presentacion */

.cards-container {
    /* border: solid; */
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.card {
    /* border: solid #f00; */
    position: relative;
    height: 80%;
    width: 30%;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 50% 25% 25%;
    padding: 10px;
    color: #fff;
    overflow: hidden;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 70%;
    background: rgba(255, 255, 255, .2);
    border-radius: 50%;
    top: 50%;
    left: 50%;
}

.card::after {
    top: 0;
    left: 75%;
}



.card h3 {
    font-size: 25px;
}

.card p {
    font-size: 22px;
}

.card:nth-child(1) {
    background-color: #8686F8;
}

.card:nth-child(2) {
    background-color: #AE68F2;
}

.card:nth-child(3) {
    background-color: #E4C53E;
}

.card-icon-container {
    /* border: solid #fff; */
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon-container i {
    /* border: solid; */
    transform: scale(2.5);
}

/* para el header del overview */

.overview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overview-header h3 {
    font-size: 23px;
    background: linear-gradient(45deg, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.filter-container {
    height: 100%;
    width: 30%;
    display: grid;
    grid-template-columns: 50% 50%;
    /* gap: 20px; */

}

.filter-container h3 {
    margin: auto;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    background: none;
    color: #702A88;
}

.overview-options {
    height: 60%;
    margin: auto;
    width: 100%;
    font-size: 18px;
    background-color: #D21333;
    color: #fff;
    border-radius: 10px;
}

.overview-options option {
    background-color: #fff;
    color: #000;
    text-align: center;
}

.overview-options option:hover {
    background-color: #8F075B !important;
}

/* para la tabla del overview */

.overview-table-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.overview-table {
    position: absolute;
    /* border: solid; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
}



.overview-table thead tr,
.overview-table tbody tr {
    display: grid;
    grid-template-columns: 25% 25% 15% 20% 15%;
    text-align: center;
    height: 100%;
    place-items: center;
    background-color: #fff;
}

.overview tbody {
    position: relative;
    overflow: auto;
    height: 100%;
    border-radius: 10px;
    border: solid 2px #000;
}

.overview-table-body::before {
    display: none;
    content: '';
    position: absolute;
    background-color: rgb(142, 7, 91, .5);
    height: 100%;
    width: 100%;
}

.overview-table-body::after {
    display: none;
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-top: solid 7px #fff;
    border-radius: 50%;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    animation: loadingButton 1s ease-out infinite;
}

.overview-table-body.active-loading::before,
.overview-table-body.active-loading::after {
    display: block;
}

.overview thead tr {
    background-color: #AC0B4C;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
}

.overview thead tr th {
    height: 50%;
    width: 100%;
    border-right: solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview thead tr th:last-child {
    border-right: none;
}

.overview tbody tr {
    height: 60px;
    transition: .1s;
    font-size: 20px;
    height: 50px;
}

.overview tbody tr:active {
    background-color: #008585 !important;
}

.overview tbody tr:nth-child(even){
    background-color: rgba(116, 43, 145, .1);
}

.overview tbody tr:hover {
    background-color: #00B5B5;
    color: #fff;
}

/* para el regsitro de estudiante */

.student-register {
    /* display: grid !important; */
    grid-template-rows: 20% 60% 20%;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
    /* background-image: url(img/login-bg.jpg); */
}


.register-title-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.register-title-container h2 {
    background: linear-gradient(45deg, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* para el formulario del estudiante */

.register-body-container {
    /* border: solid; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form {
    /* border: solid; */
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}

.register-input-group {
    position: relative;
    width: 80%;
    height: 40px;
}

.register-input-group input {
    border: none;
    border-bottom: solid 2px #D02F73;
    font-size: 20px;
    padding-left: 10px;
    height: 100%;
    width: 80%;
    border-radius: 10px;
    background-color: #fff;
}

.register-input-group label {
    position: absolute;
    top: 30%;
    left: 10px;
    transition: .5s;
    color: #762C8E;
    font-weight: 550;
}

.register-input-group input:focus~label,
.register-input-group input:valid~label {
    top: -15px;
}

.register-input-group input:focus {
    /* border-bottom: solid 2px #D02F73; */
    border-bottom: solid 2px #D02F73;
    outline: none;
}

/* .register-form .register-input-group:nth-child(9) label, */
.register-form .register-input-group:nth-child(7) label {
    position: static;
    font-size: 18px;
}

/* .register-form .register-input-group:nth-child(9), */
.register-form .register-input-group:nth-child(7) {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* .register-form .register-input-group:nth-child(9) select, */
.register-form .register-input-group:nth-child(7) select {
    width: 50%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    background-color: #AF0B4B;
    color: #fff;
    border-radius: 10px;
}

.register-form .register-input-group:nth-child(7) select option {
    background-color: #fff;
    color: #000;
}

.register-form .register-input-group:nth-child(9) select {
    width: 100%;
}

.register-button-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-button {
    position: relative;
    height: 40px;
    width: 15%;
    font-size: 20px;
    border-radius: 10px;
    background: linear-gradient(45deg, #DF1782, #5E0363);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: .2s transform;
    transform: scale(1);
}

.register-button::before {
    display: none;
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    left: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    right: 0;
    border-top: solid 5px #fff;
    border-radius: 50%;
    animation: loadingButton 1s ease-out infinite;
}

.register-button.active-loading::before {
    display: block;
}

@keyframes loadingButton {
    100%{
        transform: rotate(360deg);
    }
}

.register-button:hover {
    border: solid 3px #000;
    transform: scale(1.08);

}

.register-button:active {
    transform: scale(.9);
}











/* para el panel de registro de docente */

.overview {
    /* display: none; */
}

.professor-register {
    /* display: grid !important; */
    grid-template-rows: 20% 60% 20%;
    height: 100%;
    width: 100%;
    background-color: #f3f3f3;
}

.pr-register-form {
    /* border: solid; */
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: 50% 50%;
    place-items: center;
}

.pr-register-form1 {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.pr-register-form2 {
    /* border: solid; */
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 100%;
    width: 100%;
}

.pr-register-form1 .pr-register-input-group {
    width: 90%;
}

.pr-register-form1 .pr-register-input-group input {
    width: 100%;
    padding: 0 10px;
}

.pr-register-form1 .pr-register-input-group:nth-child(8) label,
.pr-register-form1 .pr-register-input-group:nth-child(9) label {
    position: static;
    font-size: 18px;
}

.pr-register-form1 .pr-register-input-group:nth-child(8),
.pr-register-form1 .pr-register-input-group:nth-child(9) {
    display: flex;
    gap: 10px;
    align-items: center;
}

.pr-register-form1 .pr-register-input-group:nth-child(8) select,
.pr-register-form1 .pr-register-input-group:nth-child(9) select {
    width: 50%;
    height: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    background-color: #BE0C4A;
    color: #fff;
}

.pr-register-form1 .pr-register-input-group:nth-child(9) select {
    width: 100%;
}

.pr-register-form1 .pr-register-input-group:nth-child(8) select option,
.pr-register-form1 .pr-register-input-group:nth-child(9) select option {
    background-color: #fff;
    color: #000;
}

.degree-register-box {
    border: solid;
    flex: 1;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
    border-radius: 10px;
    /* background-image: url(img/login-bg.jpg);
    background-size: cover; */
}

.degree-register-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    background-color: #880756;
    color: #fff;
}

.degree-register-header h3 {
    font-size: 25px;
}

.header-degree-button {
    height: 80%;
    width: 20%;
    background-color: #F47725;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
}

.header-degree-button:hover {
    border: solid 2px #fff;
}

.degree-register-box {
    height: 100%;
}

.degree-regsiter-body {
    height: 100%;
    overflow: auto;
}

.degree-container {
    height: 100%;
}

.degree-item {
    border: solid 2px;
    border-radius: 7px;
    margin: 10px;
    min-width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.degree-content h4 {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: 600;
}

.degree-content p {
    font-weight: lighter;
}

.degree-action-button {
    border: solid;
    width: 10%;
    background-color: rgb(218, 21, 21);
    border: solid #fff;
    color: #fff;
    border-radius: 7px;
}

.degree-action-button:hover {
    border: solid 3px #000;
}

.professor-register-modal {
    /* display: none !important; */
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr-modal-container.active {
    transform: scale(1);
    opacity: 1;
}

.pr-modal-container {
    height: 60%;
    width: 40%;
    display: flex;
    justify-content: center;
    transition: .5s;
    transform: scale(.5);
    opacity: .5;
}

.pr-modal-form {
    border: solid #fff;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 10px;
    /* align-items: ; */
}

.pr-modal-form h4 {
    font-size: 22px;
    color: #8E0A2F;
}

.pr-modal-form .register-input-group {
    width: 70%;
    display: flex;
    justify-content: center;
}

.pr-modal-form .register-input-group input {
    width: 100%;
    border: solid #BE0C4A;
    padding: 0 10px;
}

.pr-modal-form .register-input-group label{
    color: #762C8E;
}

.register-input-group input:focus~label, .register-input-group input:valid~label {
    top: -20px;
}

.pr-modal-form .register-input-group:nth-child(5) label{
    position: static;
}

.pr-modal-form .register-input-group:nth-child(5){
    display: flex;
    align-items: center;
    gap: 10px;
}

.pr-modal-form .register-input-group:nth-child(5) select{
    height: 100%;
    width: 50%;
    font-size: 17px;
    background-color: #BE0C4A;
    color: #Fff;
    text-align: center;
    border-radius: 5px;
}

.pr-modal-form .register-input-group:nth-child(5) select option{
    background-color: #fff;
    color: #000;
}

#graduationYear:not(:valid) ~ label,
#prYearsOfExp:not(:valid) ~ label,
#prAge:not(:valid) ~ label {
    color: red;
    background-color: #fff !important;
}


.modal-buttons-container {
    /* border: solid; */
    height: 10%;
    min-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.modal-buttons-container button {
    height: 90%;
    width: 25%;
    border-radius: 10px;
    background-color: #10A37F;
    color: #fff;
    font-size: 16px;
    border: none;
    transition: .3s;
    cursor: pointer;
}

.modal-buttons-container button:hover {
    border: solid 3px #000 ;
    transform: scale(1.1);
}

.modal-buttons-container button:nth-child(1) {
    background-color: #DA1515;
}

.no-data-degree {
    height: 100%;
    font-size: 20px;
    color: #E00F3D;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* para registrar las materias */

.subject-register {
    height: 95%;
    width: 95%;
    font-size: 40px;
    /* display: grid !important;     */
    grid-template-rows: 25% 25% 50%;
    margin: auto;
}

.subject-card .card-icon-container {
    transform: scale(0.5);
}

.subject-card {
    height: 90%;
}

.subject-card.card:nth-child(1){
    background-color: #F47725;
}

.subject-card.card:nth-child(2){
    background-color: #BF40D2;
}

.subject-card.card:nth-child(3){
    background-color: #77D2DC;
}

.subject-header {
    display: grid;
    grid-template-rows: 20% 40% 40%;
}

.subject-title {
    display: flex;
    justify-content: left;
    font-size: 25px;
}

.subject-title h3 {
    background: linear-gradient(45deg, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.subject-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.subject-form label {
    font-size: 20px;
}

.sb-select label {
    position: static;
}

.sb-select select {
    height: 100%;
    font-size: 18px;
    width: 50%;
    background-color: #d21333;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.sb-select select option {
    color: #000;
    background-color: #fff;
}

.subject-search-bar-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.subject-search-bar {
    height: 60%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 75% 20%;
}

.search-bar-icon {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #742B91;
    border-radius: 10px 0 0 10px;
}

.search-bar-icon i {
    font-size: 20px;
    color: #fff;
}

.subject-name-input {
    height: 100%;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 0 10px 10px 0;
    border: none;
    border: solid 2px #742B91;
}

.subject-filtering {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subject-filtering label {
    font-size: 20px;
    color: #620361;
}

.subject-filtering select {
    background-color: #EF5C2E;
    color: #fff;
    height: 80%;
    width: 40%;
    text-align: center;
    font-size: 15px;
    border-radius: 10px;
}

.subject-filtering select option {
    color: #000;
    background-color: #fff;
}

.subject-table-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.subject-table {
    border: solid;
    border-radius: 10px;
    position: absolute;
    font-size: 20px;
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 80%;
}

.subject-table thead {
    display: flex;
    align-items: center;
    background-color: #AC0B4C;
    color: #fff;
}

.subject-table thead tr {
    display: grid;
    width: 100%;
    height: 50%;
    grid-template-columns: 23% 23% 24% 15% 15%;/*distribucion de las columnas*/
    padding-right: 15px;
}

.subject-table thead tr th,
.subject-table-body tr td {
    border-right: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.subject-table-body tr td{
    border: none;
}

.subject-table thead tr th:last-child {
    border: none;
}

.subject-table-body {
    overflow: auto;
    scrollbar-gutter: stable;
    position: relative;
}

.subject-table::before {
    display: none;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(142, 7, 91, .5);
}

.subject-table::after {
    display: none;
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-top: solid 7px #fff;
    border-radius: 50%;
    animation: loadingButton 1s ease-out infinite;
}

.subject-table.active-loading::after,
.subject-table.active-loading::before {
    display: block;
}

.subject-table-body tr {
    display: grid;
    grid-template-columns: 23% 23% 24% 15% 15%;
    text-align: center;
    height: 50px;
    transition: .15s;
}

.subject-table-row.selected-row {
    background-color: rgb(0, 132, 132) !important;
    color: #fff;
}

.subject-table-body tr:nth-child(even) {
    background-color: rgba(116, 43, 145, .1);
}

.subject-table-body tr:hover {
    background-color: rgb(0, 181, 181);
    color: #fff;
}

.subject-table-body tr:active {
    background-color: rgb(0, 123, 123);
}

.subject-button {
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.selected-professor {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 25px;
    color: #580264;
}

.selected-professor-name {
    color: #CD0E42;
    border-bottom: dashed 4px#CD0E42 ;
}

.no-data-subject, 
.no-data-found {
    display: none !important;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E00F3D;
    font-size: 25px;
}

.no-data-found.show {
    display: flex !important;
}

.no-data-subject.show {
    display: flex !important;
}

.total-card-value {
    position: relative;
}

.total-card-value::before{
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-top: solid 5px #fff;
    border-radius: 50%;
    animation: loadingButton 1s ease-out infinite;
}

.total-card-value.active-loading::before {
    display: block;
}

/* para la inscripcion */


.enrollment {
    /* display: grid !important; */
    grid-template-rows: 45% 45% 10%;
    height: 95%;
    width: 95%;
    margin: auto;
}

.enroll-student,
.enroll-subject {
    /* border: solid; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 15% 20% 65%;
}

.enroll-subject-table-container .subject-table {
    height: 100%;
}


.student-title h2 {
    width: calc(max(300px, 20%));
}

.student-title h2 , .subject-title h2 {
    background: linear-gradient(45deg, #f00, #00f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto 0;
    font-size: 40px;
}

.enroll-button-container {
    /* border: solid; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

.enroll-subject-table thead tr {
    grid-template-columns: 20% 20% 30% 15% 15%;
}

.enroll-subject-table-row {
    grid-template-columns: 20% 20% 30% 15% 15% !important;
    
}

.selected-enroll-data {
    /* border: solid; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    gap: 10px;
    font-size: 27px;
    color: #76065C;
    font-weight: 600;
}

.selected-enroll-data span {
    color: #DC103F;
    border-bottom: dashed 5px #DC103F;
    font-weight: 500;
}

.enroll-no-data-found.show {
    display: flex !important;
}

.enroll-subject-no-data-found.show {
    display: flex !important;
}

/* .enroll-no-data-found {
    display: flex !important;
} */

#enrollStudentTable::before,
#enrollSubjectTable::before {
    display: none;
    content: '';
    position: absolute;
    background-color: rgb(142, 7, 91, .5);
    height: 100%;
    width: 100%;
}

#enrollStudentTable::after,
#enrollSubjectTable::after {
    display: none;
    content: '';
    position: absolute;
    height: 60px;
    width: 60px;
    border-top: solid 7px #fff;
    border-radius: 50%;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    animation: loadingButton 1s ease-out infinite;
}

#enrollStudentTable.active-loading::before,
#enrollStudentTable.active-loading::after {
    display: block;
}

#enrollSubjectTable.active-loading::before,
#enrollSubjectTable.active-loading::after {
    display: block;
}

.enroll-subject-search-bar {
    grid-template-columns: 5% 95%;
}

/* para la ventana modal de la vista de datos de las personas */

.data-person-view-modal {
    display: none !important;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-person-view-modal.show {
    display: flex !important;
}


.view-modal-container {
    border: solid;
    width: 40%;
    height: 90%;
    background-color: #fff;
    display: grid;
    grid-template-rows: 10% 50% 20% 20%;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(.5);
    opacity: .5;
    transition: .3s;
}

.view-modal-container.show {
    transform: scale(1);
    opacity: 1;
}

.view-modal-container.adjust {
    grid-template-rows: 10% 45% 15% 30%;
}

.vm-title-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CC0E43;
    /* background-color: #CC0E43; */
    background: linear-gradient(90deg, #EE1192, #3B68F5);
    color: #fff;
    /* border-bottom: dashed #650360 2px; */
}

.vm-title-container.adjust {
    background: linear-gradient(90deg, #6608A3, #DD08A9);
}

.vm-icon-container {
    /* border: solid; */
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: .3s;
    color: #DE103E;
    padding: 0 50px;
}

.vm-icon-container i {
    transform: scale(2);
    font-weight: 700;
}

.vm-icon-container:hover {
    background-color: #DE103E;
    color: #fff;
    transform: rotate(90deg);
}

.personal-info {
    border-bottom: dashed #580264 3px;
    display: grid;
    grid-template-rows: 30% 70%;
    width: 90%;
    height: 100%;
    margin: auto;
}

.pi-header {
    display: flex;
    gap: 10px;
}

.pi-logo {
    height: 100%;
    width: calc(max(20%, 100px));
    place-content: center;
    place-items: center;
    border-radius: 50%;
    font-size: 30px;
    font-weight: 600;
    /* background-color: #4A6CF7; */
    background: linear-gradient(45deg, #F7058D, #9802AF);
    color: #Fff;
    transform: scale(.8);
}

.pi-name-container {
    place-content: center;    
}

.pi-name-container h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pi-state {
    width: calc(min(100px, 50%));
    height: 25px;
    text-align: center;
    place-content: center;
    background-color: #3cec3c;
    color: #fff;
    border-radius: 10px;
}

.pi-body {
    display: grid;
    grid-template-rows: 15% 85%;
}

.pi-body h3 {
    width: calc(max(300px, 50%));
    /* border: solid; */
    margin: auto 0;
    color: #100986;
    font-size: 20px;
}

.pi-body-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.info-item h4 {
    color: #DA1515;
    font-weight: 600;
    font-size: 20px;
}

.info-item p {
    font-weight: 400;
    color: #76065C;
    font-size: 20px;
}

.academic-info {
    display: grid;
    grid-template-rows: 30% 70%;
    border-bottom: dashed 3px #620361;
    width: 90%;
    height: 100%;
    margin: auto;
}

.academic-info.adjust {
    display: none;
}

.academic-info h3 {
    color: #100986;
    font-size: 20px;
    margin: auto 0;
    padding-top: 20px;
}

.academic-info-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* border: solid; */
}

.guardian-info {
    display: grid;
    grid-template-rows: 30% 70%;
    width: 90%;
    height: 100%;
    margin: auto;
}

.guardian-info.adjust {
    display: none;
}

.guardian-info h3 {
    margin: auto 0;
    padding-top: 20px;
    font-size: 20px;
    color: #100986;
}

.guardian-info-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.degree-info {
    display: none;
    height: 100%;
    width: 90%;
    margin: auto;
    grid-template-rows: 20% 80%;
    padding: 10px 0;
}

.degree-info.adjust {
    display: grid;
}

.degree-info h3 {
    color: #100986;
    margin: auto 0;
    font-size: 20px;
}

.degree-info-container {
    overflow: auto;
    border: solid 3px #3E0F67;
    border-radius: 10px;
}

.modal-degree-item {
    color: #fff;
    border: solid #000;
}

.professional-info {
    display: none;
    height: 100%;
    width: 90%;
    margin: auto;
}

.professional-info h3 {
    padding-top: 10px;
}

.professional-info.adjust {
    display: grid;
}


/* .data-person-view-modal {
    display: flex !important;
}

.view-modal-container {
    transform: scale(1);
    opacity: 1;
} */











